h1{
    color: black;
    background-color: #cccccc;
    margin: 0px;
    padding: 10px 10px 20px 20px;
    
}


.responsive-img {
     max-width: 100%;  /* 親要素の幅を超えない */
     height: auto;     /* アスペクト比を維持 */
     display: block;   /* margin: auto; が効くように */
   }